<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Dream League</title>

  <style type="text/css">
    body,
    table,
    td,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: Arial, Helvetica, sans-serif !important;
    }   

    .body-content {
      padding-left: 15px;
      padding-right: 15px;
    }
  </style>
</head>

<body>
  <div class="container body-content">
    <h3>Dream League - Reset Password</h3>
    <hr />

    <p>You requested to reset your password.</p>

    <p>Click the link below to reset your password</p>

    <p><a href="{{link}}">Reset Password</a></p>

    <p>If the link does not work, then copy the below into your browser</p>

    <p>{{link}}</p>

    <hr />

    <p>For more league statistics and information, visit the Dream League website at <a
        href="https://dreamleaguefantasyfootball.co.uk/">dreamleaguefantasyfootball.co.uk</a>.</p>

    <footer>
      <p>Copyright 2021 John Watson</p>
    </footer>
  </div>
</body>

</html>
