PORT=3001
JWT_SECRET=
WEB_URL=http://localhost:3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dream_league_api
REDIS_HOST=localhost
REDIS_PORT=6379
ALLOW_NON_MEMBER_REGISTRATION=true
